.caption-btn {
  &__title {
    font-family: Inter-Regular;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 0.15px;
    text-align: left;
    line-height: 0px;

    text-shadow: 1px 1px 2px #606359;
  }

  img {
    height: 40px;
  }
}
