$periwinkle: #8561ff;
$black-500: #1b1923;

$clr-navbar-text: white !default;

$clr-quest-cross: gray;
$clr-quest-border: rgb(224, 225, 228);

$clr-footer-bg: rgb(40, 45, 82);

$clr-silver: rgb(224, 225, 228);

$clr-faqs-gradient: "linear-gradient(266deg, rgba(0,220,175,1) 0%, rgba(0,194,218,1) 100%)";
